* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --bg-color: #000;
  --input-bg: #06181C;
  --bg-search-button: #065E7C;
  --bg-thead: #0b3947;
  --bg-oddtr: #06161B;
  --bg-eventr: #06222b;
  --text-color: #fff;
  --white: #fff;
  --remove-button: #F75A68;
  --table-stroke: #4A808C;
}
body {
  font-size: 1.6rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body * {
  font-family: 'Roboto', sans-serif;
}

#app {
  max-width: 112rem;
  margin: 0 auto;
  padding: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8rem 0;
}

header .search-wrapper {
  display: flex;
  gap: .6rem;
  align-items: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

header #search-bar {
  background-color: var(--input-bg);
  color: var(--text-color);
  border: 0;
  padding: 0 2rem;
  border-radius: .4rem;
  
  height: 3.6rem;
  width: clamp(15rem, 12rem + 25vw, 35rem);
}

header #favorite-button {
  height: 3.6rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .6rem;
  background-color: var(--bg-search-button);
  color: var(--text-color);
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  border-radius: .4rem;
}

table {
  font-size: 1.4rem;
  width: 100%;
  border-radius: .8rem;
  border-collapse: collapse;
}

table thead th {
  background-color: var(--bg-thead);
  padding: 1.6rem;
  text-align: left;
}
table thead th:first-child {
  border-top-left-radius: .8rem;
}
table thead th:last-child {
  border-top-right-radius: .8rem;
}
table tbody td {
  padding: 1.6rem;
  text-align: left;
  border-top: 1px solid var(--table-stroke);
}
table tbody tr:nth-child(odd) {
  background-color: var(--bg-oddtr);
}
table tbody tr:nth-child(even) {
  background-color: var(--bg-eventr);
}
table .user-info {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
table .user-text {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  text-decoration: none;
  color: var(--text-color);
}
table .user-info .user-name {
  font-weight: bold;
}
table .user-info .user-login {
  opacity: .7;
  position: relative;
}
table .user-info .user-login::before {
  content: '/';
}
table tbody tr .user-info > img{
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  object-fit: cover;
  outline: 1px solid var(--bg-search-button);
  outline-offset: 2px;
}
table .remove {
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: var(--remove-button);
  font-weight: bold;
  cursor: pointer;

  transition: transform .3s ease;
}
table .remove:hover {
  filter: brightness(1.1);
  transform: scale(1.1);
}

.empty-table {
  background-color: var(--bg-eventr);
  width: 100%;
  height: clamp(25rem, 30rem + 15vh, 50rem);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: #4E5455;
}

.empty-table h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 4rem;
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 2rem;
  }
  table {
    overflow: auto;
  }
}
